span {
  font-weight: 600;
}

.site-app {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin-top: -142px;
}

.top-menu {
  background-color: #fdbf59;
  width: 100%;
  height: 5px;
  margin-top: 8.9em;
}

.logoimg {
  margin-top: 2.5em;
  width: 100%;
  text-align: center;
}

.logoimg img {
  width: 80px;
}

.link-contato {
  float: right;
  margin-right: 2%;
  margin-top: 5px;
  color: white;
  font-weight: bold;
}

.row-about {
  height: 436px;
}

.siteheader {
  position: relative;
}

.mt-3 {
  padding-top: 3%;
}

.mt-20 {
  padding-top: 2.5em;
}

.mt-35 {
  padding-right: 142px;
}
/*
.col-foto-perfil {
  background-color: #f7b83e;
} */

.div-perfil {
  margin-left: 8em;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text-about h1 {
  font-size: 52px;
  color: black;
  font-weight: 300;
  letter-spacing: -2px;
  margin-top: 0.5em;
}

.text-about h1::before {
  content: 'Sobre mim';
  font-size: 92px;
  color: #060504;
  margin-top: -1.2em;
  position: absolute;
  font-weight: 700;
  margin-left: 4.5em;
  width: 5em;
  z-index: 999;
  opacity: 0.035;
}

.text-about h1 span {
  font-weight: 700;
  position: relative;
}

.titulo-sobre {
  font-size: 25px !important;
  text-align: center;
}

.foto_perfil {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.text-about p {
  font-family: 'Open Sans',sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #1f203a;
  font-weight: 400;
  text-align: justify;
}

.titulo.texto-centralizado {
    margin: 0 auto;
    text-align: center;
    padding-top: 9.5em;
}

.horizontal-line div {
  background: #fdbf59 none repeat scroll 0 0;
  height: 2px;
  margin: 0 auto;
  width: 77px;
}

.horizontal-line div.top {
  margin-bottom: 3px;
  width: 44px;
}

.titulo h2{
  text-transform: uppercase;
}

.logo-jtec {
  float: left;
  width: 200px;
  padding-top: 2.5em;
}

.texto-jtec {
  float: right;
  width: 65%;
  margin-top: -1em;
  font-size: 20px;
  font-family: 'Open Sans',sans-serif;
  line-height: 1.5;
  text-align: justify;
}

.row-portifolio {
  padding-top: 1.5em;
}

.portifolio {
    width: 25%;
    font-family: 'Open Sans', sans-serif;
    float: left;
    padding: 29px 10px 0px 10px;
}

.img-portifolio {
    width: 100%;
}

.portifolio span {
  font-size: 14px;
  color: black;
}

.portifolio p {
  font-size: 12px;
  color: #f59e3c;;
  line-height: 24px;
  font-weight: 400;
}

.servicos {
  width: 100%;
  padding-top: 2.5em;
  margin: 0 auto;
}

.servicos p {
  width: 100%;
  padding: 10px 0px 20px 0px;
  font-size: 15px;
  text-align: justify;
}

.img-servicos {
  width: 25%;
  float: left;
  padding-right: 1em;
}

.descricao {
    text-align: left;
}

.descricao span {
  font-size: 20px;
}

footer {
  height: 250px;
  width: 100%;
}

.footer {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
}

.footer a {
  color: black;
  padding: 10px;
}

.veja-mais {
  margin: 0 auto;
  font-size: 25px;
  color: #fdbf59;
  padding-top: 22px;
}

@media (min-width: 320px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
